* {
    overflow-x: hidden;
    padding: 0px !important;
    margin: 0px !important;
}
.v9_15 {
    width: 100%;
    height: 1275px;
    background: rgba(246,246,248,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_16 {
    width: 51px;
    height: 31px;
    background: url("../images/v9_16.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 19px;
    left: 48px;
    overflow: hidden;
}
.v9_17 {
    width: 42px;
    height: 13px;
    background: url("../images/v9_17.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 5px;
    overflow: hidden;
}
.v9_18 {
    width: 42px;
    height: 13px;
    background: url("../images/v9_18.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_19 {
    width: 6px;
    height: 9px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 0px;
}
.v9_20 {
    width: 6px;
    height: 8px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 5px;
}
.v9_21 {
    width: 6px;
    height: 8px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 13px;
}
.v9_22 {
    width: 6px;
    height: 9px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 20px;
}
.v9_23 {
    width: 6px;
    height: 9px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 27px;
}
.v9_24 {
    width: 8px;
    height: 10px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 34px;
}
.v9_25 {
    width: 39px;
    height: 11px;
    background: url("../images/v9_25.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 19px;
    left: 6px;
    overflow: hidden;
}
.v9_26 {
    width: 39px;
    height: 11px;
    background: url("../images/v9_26.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_27 {
    width: 39px;
    height: 11px;
    background: url("../images/v9_27.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_28 {
    width: 7px;
    height: 7px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
}
.v9_29 {
    width: 7px;
    height: 7px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 6px;
}
.v9_30 {
    width: 7px;
    height: 8px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 15px;
}
.v9_31 {
    width: 7px;
    height: 8px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 24px;
}
.v9_32 {
    width: 7px;
    height: 8px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 31px;
}
.v9_33 {
    width: 4px;
    height: 4px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 0px;
}
.v9_34 {
    width: 3px;
    height: 4px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 47px;
}
.v9_35 {
    width: 3px;
    height: 5px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 27px;
}
.v9_36 {
    width: 2px;
    height: 1px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 28px;
}
.v9_37 {
    width: 118px;
    color: rgba(59,59,59,1);
    position: absolute;
    top: 25px;
    left: 1205px;
    font-family: Roboto;
    font-weight: Light;
    font-size: 14px;
    opacity: 1;
    text-align: right;
}
.v9_38 {
    width: 99px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3010px;
    left: 48px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_39 {
    width: 129px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3042px;
    left: 48px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_40 {
    width: 103px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 2978px;
    left: 48px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_41 {
    width: 135px;
    color: rgba(255,255,255,0.699999988079071);
    position: absolute;
    top: 3010px;
    left: 390px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_42 {
    width: 141px;
    color: rgba(255,255,255,0.699999988079071);
    position: absolute;
    top: 2978px;
    left: 390px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_43 {
    width: 141px;
    height: 86px;
    background: url("../images/v9_43.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2978px;
    left: 1162px;
    overflow: hidden;
}
.v9_44 {
    width: 118px;
    height: 36px;
    background: url("../images/v9_44.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 14px;
    overflow: hidden;
}
.v9_45 {
    width: 118px;
    height: 36px;
    background: url("../images/v9_45.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_46 {
    width: 18px;
    height: 25px;
    background: rgba(250,250,250,1);
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 0px;
}
.v9_47 {
    width: 16px;
    height: 24px;
    background: rgba(250,250,250,1);
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 16px;
}
.v9_48 {
    width: 17px;
    height: 22px;
    background: rgba(250,250,250,1);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 35px;
}
.v9_49 {
    width: 17px;
    height: 25px;
    background: rgba(250,250,250,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 56px;
}
.v9_50 {
    width: 18px;
    height: 24px;
    background: rgba(250,250,250,1);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 77px;
}
.v9_51 {
    width: 22px;
    height: 27px;
    background: rgba(250,250,250,1);
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 95px;
}
.v9_52 {
    width: 108px;
    height: 31px;
    background: url("../images/v9_52.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 55px;
    left: 17px;
    overflow: hidden;
}
.v9_53 {
    width: 108px;
    height: 31px;
    background: url("../images/v9_53.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_54 {
    width: 108px;
    height: 31px;
    background: url("../images/v9_54.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_55 {
    width: 20px;
    height: 21px;
    background: rgba(250,250,250,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
}
.v9_56 {
    width: 20px;
    height: 21px;
    background: rgba(250,250,250,1);
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 19px;
}
.v9_57 {
    width: 20px;
    height: 23px;
    background: rgba(250,250,250,1);
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 43px;
}
.v9_58 {
    width: 19px;
    height: 24px;
    background: rgba(250,250,250,1);
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 66px;
}
.v9_59 {
    width: 20px;
    height: 24px;
    background: rgba(250,250,250,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 88px;
}
.v9_60 {
    width: 11px;
    height: 12px;
    background: rgba(250,250,250,1);
    opacity: 1;
    position: absolute;
    top: 41px;
    left: 0px;
}
.v9_61 {
    width: 10px;
    height: 11px;
    background: rgba(250,250,250,1);
    opacity: 1;
    position: absolute;
    top: 41px;
    left: 130px;
}
.v9_62 {
    width: 9px;
    height: 15px;
    background: rgba(250,250,250,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 77px;
}
.v9_63 {
    width: 7px;
    height: 4px;
    background: rgba(44,73,93,1);
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 77px;
}
.v9_64 {
    width: 14px;
    height: 15px;
    background: url("../images/v9_64.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2979px;
    left: 539px;
    overflow: hidden;
}
.v9_65 {
    width: 9px;
    height: 9px;
    background: url("../images/v9_65.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 5px;
    overflow: hidden;
}
.v9_66 {
    width: 9px;
    height: 9px;
    background: url("../images/v9_66.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_67 {
    width: 9px;
    height: 9px;
    background: rgba(255,255,255,0.8999999761581421);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
}
.v9_68 {
    width: 12px;
    height: 12px;
    background: url("../images/v9_68.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 0px;
    overflow: hidden;
}
.v9_69 {
    width: 12px;
    height: 12px;
    background: url("../images/v9_69.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_70 {
    width: 12px;
    height: 12px;
    background: rgba(255,255,255,0.8999999761581421);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
}
.v9_71 {
    width: 14px;
    height: 15px;
    background: url("../images/v9_71.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3011px;
    left: 533px;
    overflow: hidden;
}
.v9_72 {
    width: 9px;
    height: 9px;
    background: url("../images/v9_72.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 5px;
    overflow: hidden;
}
.v9_73 {
    width: 9px;
    height: 9px;
    background: url("../images/v9_73.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_74 {
    width: 9px;
    height: 9px;
    background: rgba(255,255,255,0.8999999761581421);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
}
.v9_75 {
    width: 12px;
    height: 12px;
    background: url("../images/v9_75.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 0px;
    overflow: hidden;
}
.v9_76 {
    width: 12px;
    height: 12px;
    background: url("../images/v9_76.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_77 {
    width: 12px;
    height: 12px;
    background: rgba(255,255,255,0.8999999761581421);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
}
.v9_78 {
    width: 39px;
    height: 10px;
    background: url("../images/v9_78.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 30px;
    left: 1353px;
    overflow: hidden;
}
.name {
    color: #fff;
}
.name {
    color: #fff;
}
.name {
    color: #fff;
}
.name {
    color: #fff;
}
.name {
    color: #fff;
}
.name {
    color: #fff;
}
.name {
    color: #fff;
}
.v9_86 {
    width: 313px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 130px;
    left: 48px;
    font-family: Gilroy;
    font-weight: SemiBold;
    font-size: 35px;
    opacity: 1;
    text-align: left;
}
.v9_87 {
    width: 296px;
    color: rgba(59,59,59,1);
    position: absolute;
    top: 182px;
    left: 48px;
    font-family: Roboto;
    font-weight: Light;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v9_88 {
    width: 100%;
    height: 902px;
    background: url("../images/v9_88.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 242px;
    left: 1px;
    overflow: hidden;
}
.v9_413 {
    width: 100%;
    height: 82px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_414 {
    width: 100%;
    height: 82px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_415 {
    width: 145px;
    height: 38px;
    background: url("../images/v9_415.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 1246px;
    overflow: hidden;
}
.v9_416 {
    width: 145px;
    height: 38px;
    background: rgba(2,155,110,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_417 {
    width: 65px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 8px;
    left: 40px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v9_418 {
    width: 145px;
    height: 38px;
    background: url("../images/v9_418.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 1091px;
    overflow: hidden;
}
.v9_419 {
    width: 145px;
    height: 38px;
    background: rgba(123,135,148,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_420 {
    width: 82px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 8px;
    left: 32px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v9_421 {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 46px;
    left: 47px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_422 {
    width: 262px;
    height: 22px;
    background: url("../images/v9_422.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 20px;
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 47px;
    overflow: hidden;
}
.v9_423 {
    width: 39px;
    color: rgba(59,59,59,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-weight: Light;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_424 {
    width: 83px;
    height: 22px;
    background: url("../images/v9_424.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 59px;
    overflow: hidden;
}
.v9_425 {
    width: 83px;
    color: rgba(59,59,59,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.name {
    color: #fff;
}
.v9_427 {
    width: 100px;
    color: rgba(59,59,59,1);
    position: absolute;
    top: 0px;
    left: 162px;
    font-family: Roboto;
    font-weight: Light;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_398 {
    width: 100%;
    height: 82px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 82px;
    left: 0px;
    overflow: hidden;
}
.v9_399 {
    width: 100%;
    height: 82px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_400 {
    width: 145px;
    height: 38px;
    background: url("../images/v9_400.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 1246px;
    overflow: hidden;
}
.v9_401 {
    width: 145px;
    height: 38px;
    background: rgba(2,155,110,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_402 {
    width: 65px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 8px;
    left: 40px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v9_403 {
    width: 145px;
    height: 38px;
    background: url("../images/v9_403.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 1091px;
    overflow: hidden;
}
.v9_404 {
    width: 145px;
    height: 38px;
    background: rgba(123,135,148,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_405 {
    width: 82px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 8px;
    left: 32px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v9_406 {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 46px;
    left: 47px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_407 {
    width: 301px;
    height: 22px;
    background: url("../images/v9_407.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 20px;
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 47px;
    overflow: hidden;
}
.v9_408 {
    width: 39px;
    color: rgba(59,59,59,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-weight: Light;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_409 {
    width: 122px;
    height: 22px;
    background: url("../images/v9_409.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 59px;
    overflow: hidden;
}
.v9_410 {
    width: 122px;
    color: rgba(59,59,59,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.name {
    color: #fff;
}
.v9_412 {
    width: 100px;
    color: rgba(59,59,59,1);
    position: absolute;
    top: 0px;
    left: 201px;
    font-family: Roboto;
    font-weight: Light;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_383 {
    width: 100%;
    height: 82px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 164px;
    left: 0px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15000000596046448);
    overflow: hidden;
}
.v9_384 {
    width: 100%;
    height: 82px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_385 {
    width: 145px;
    height: 38px;
    background: url("../images/v9_385.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 1246px;
    overflow: hidden;
}
.v9_386 {
    width: 145px;
    height: 38px;
    background: rgba(2,155,110,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_387 {
    width: 65px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 8px;
    left: 40px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v9_388 {
    width: 145px;
    height: 38px;
    background: url("../images/v9_388.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 1091px;
    overflow: hidden;
}
.v9_389 {
    width: 145px;
    height: 38px;
    background: rgba(123,135,148,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_390 {
    width: 82px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 8px;
    left: 32px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v9_391 {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 46px;
    left: 47px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_392 {
    width: 251px;
    height: 22px;
    background: url("../images/v9_392.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 20px;
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 47px;
    overflow: hidden;
}
.v9_393 {
    width: 39px;
    color: rgba(59,59,59,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-weight: Light;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_394 {
    width: 72px;
    height: 22px;
    background: url("../images/v9_394.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 59px;
    overflow: hidden;
}
.v9_395 {
    width: 72px;
    color: rgba(59,59,59,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.name {
    color: #fff;
}
.v9_397 {
    width: 100px;
    color: rgba(59,59,59,1);
    position: absolute;
    top: 0px;
    left: 151px;
    font-family: Roboto;
    font-weight: Light;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_368 {
    width: 100%;
    height: 82px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 246px;
    left: 0px;
    overflow: hidden;
}
.v9_369 {
    width: 100%;
    height: 82px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_370 {
    width: 145px;
    height: 38px;
    background: url("../images/v9_370.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 1246px;
    overflow: hidden;
}
.v9_371 {
    width: 145px;
    height: 38px;
    background: rgba(2,155,110,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_372 {
    width: 65px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 8px;
    left: 40px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v9_373 {
    width: 145px;
    height: 38px;
    background: url("../images/v9_373.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 1091px;
    overflow: hidden;
}
.v9_374 {
    width: 145px;
    height: 38px;
    background: rgba(123,135,148,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_375 {
    width: 82px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 8px;
    left: 32px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v9_376 {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 46px;
    left: 47px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_377 {
    width: 286px;
    height: 22px;
    background: url("../images/v9_377.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 20px;
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 47px;
    overflow: hidden;
}
.v9_378 {
    width: 39px;
    color: rgba(59,59,59,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-weight: Light;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_379 {
    width: 107px;
    height: 22px;
    background: url("../images/v9_379.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 59px;
    overflow: hidden;
}
.v9_380 {
    width: 107px;
    color: rgba(59,59,59,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.name {
    color: #fff;
}
.v9_382 {
    width: 100px;
    color: rgba(59,59,59,1);
    position: absolute;
    top: 0px;
    left: 186px;
    font-family: Roboto;
    font-weight: Light;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_353 {
    width: 100%;
    height: 82px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 328px;
    left: 0px;
    overflow: hidden;
}
.v9_354 {
    width: 100%;
    height: 82px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_355 {
    width: 145px;
    height: 38px;
    background: url("../images/v9_355.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 1246px;
    overflow: hidden;
}
.v9_356 {
    width: 145px;
    height: 38px;
    background: rgba(2,155,110,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_357 {
    width: 65px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 8px;
    left: 40px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v9_358 {
    width: 145px;
    height: 38px;
    background: url("../images/v9_358.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 1091px;
    overflow: hidden;
}
.v9_359 {
    width: 145px;
    height: 38px;
    background: rgba(123,135,148,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_360 {
    width: 82px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 8px;
    left: 32px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v9_361 {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 46px;
    left: 47px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_362 {
    width: 262px;
    height: 22px;
    background: url("../images/v9_362.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 20px;
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 47px;
    overflow: hidden;
}
.v9_363 {
    width: 39px;
    color: rgba(59,59,59,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-weight: Light;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_364 {
    width: 83px;
    height: 22px;
    background: url("../images/v9_364.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 59px;
    overflow: hidden;
}
.v9_365 {
    width: 83px;
    color: rgba(59,59,59,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.name {
    color: #fff;
}
.v9_367 {
    width: 100px;
    color: rgba(59,59,59,1);
    position: absolute;
    top: 0px;
    left: 162px;
    font-family: Roboto;
    font-weight: Light;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_338 {
    width: 100%;
    height: 82px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 410px;
    left: 0px;
    overflow: hidden;
}
.v9_339 {
    width: 100%;
    height: 82px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_340 {
    width: 145px;
    height: 38px;
    background: url("../images/v9_340.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 1246px;
    overflow: hidden;
}
.v9_341 {
    width: 145px;
    height: 38px;
    background: rgba(2,155,110,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_342 {
    width: 65px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 8px;
    left: 40px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v9_343 {
    width: 145px;
    height: 38px;
    background: url("../images/v9_343.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 1091px;
    overflow: hidden;
}
.v9_344 {
    width: 145px;
    height: 38px;
    background: rgba(123,135,148,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_345 {
    width: 82px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 8px;
    left: 32px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v9_346 {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 46px;
    left: 47px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_347 {
    width: 301px;
    height: 22px;
    background: url("../images/v9_347.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 20px;
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 47px;
    overflow: hidden;
}
.v9_348 {
    width: 39px;
    color: rgba(59,59,59,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-weight: Light;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_349 {
    width: 122px;
    height: 22px;
    background: url("../images/v9_349.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 59px;
    overflow: hidden;
}
.v9_350 {
    width: 122px;
    color: rgba(59,59,59,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.name {
    color: #fff;
}
.v9_352 {
    width: 100px;
    color: rgba(59,59,59,1);
    position: absolute;
    top: 0px;
    left: 201px;
    font-family: Roboto;
    font-weight: Light;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_323 {
    width: 100%;
    height: 82px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 492px;
    left: 0px;
    overflow: hidden;
}
.v9_324 {
    width: 100%;
    height: 82px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_325 {
    width: 145px;
    height: 38px;
    background: url("../images/v9_325.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 1246px;
    overflow: hidden;
}
.v9_326 {
    width: 145px;
    height: 38px;
    background: rgba(2,155,110,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_327 {
    width: 65px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 8px;
    left: 40px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v9_328 {
    width: 145px;
    height: 38px;
    background: url("../images/v9_328.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 1091px;
    overflow: hidden;
}
.v9_329 {
    width: 145px;
    height: 38px;
    background: rgba(123,135,148,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_330 {
    width: 82px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 8px;
    left: 32px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v9_331 {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 46px;
    left: 47px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_332 {
    width: 262px;
    height: 22px;
    background: url("../images/v9_332.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 20px;
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 47px;
    overflow: hidden;
}
.v9_333 {
    width: 39px;
    color: rgba(59,59,59,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-weight: Light;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_334 {
    width: 83px;
    height: 22px;
    background: url("../images/v9_334.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 59px;
    overflow: hidden;
}
.v9_335 {
    width: 83px;
    color: rgba(59,59,59,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.name {
    color: #fff;
}
.v9_337 {
    width: 100px;
    color: rgba(59,59,59,1);
    position: absolute;
    top: 0px;
    left: 162px;
    font-family: Roboto;
    font-weight: Light;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_308 {
    width: 100%;
    height: 82px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 574px;
    left: 0px;
    overflow: hidden;
}
.v9_309 {
    width: 100%;
    height: 82px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_310 {
    width: 145px;
    height: 38px;
    background: url("../images/v9_310.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 1246px;
    overflow: hidden;
}
.v9_311 {
    width: 145px;
    height: 38px;
    background: rgba(2,155,110,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_312 {
    width: 65px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 8px;
    left: 40px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v9_313 {
    width: 145px;
    height: 38px;
    background: url("../images/v9_313.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 1091px;
    overflow: hidden;
}
.v9_314 {
    width: 145px;
    height: 38px;
    background: rgba(123,135,148,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_315 {
    width: 82px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 8px;
    left: 32px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v9_316 {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 46px;
    left: 47px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_317 {
    width: 286px;
    height: 22px;
    background: url("../images/v9_317.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 20px;
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 47px;
    overflow: hidden;
}
.v9_318 {
    width: 39px;
    color: rgba(59,59,59,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-weight: Light;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_319 {
    width: 107px;
    height: 22px;
    background: url("../images/v9_319.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 59px;
    overflow: hidden;
}
.v9_320 {
    width: 107px;
    color: rgba(59,59,59,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.name {
    color: #fff;
}
.v9_322 {
    width: 100px;
    color: rgba(59,59,59,1);
    position: absolute;
    top: 0px;
    left: 186px;
    font-family: Roboto;
    font-weight: Light;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_293 {
    width: 100%;
    height: 82px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 656px;
    left: 0px;
    overflow: hidden;
}
.v9_294 {
    width: 100%;
    height: 82px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_295 {
    width: 145px;
    height: 38px;
    background: url("../images/v9_295.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 1246px;
    overflow: hidden;
}
.v9_296 {
    width: 145px;
    height: 38px;
    background: rgba(2,155,110,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_297 {
    width: 65px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 8px;
    left: 40px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v9_298 {
    width: 145px;
    height: 38px;
    background: url("../images/v9_298.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 1091px;
    overflow: hidden;
}
.v9_299 {
    width: 145px;
    height: 38px;
    background: rgba(123,135,148,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_300 {
    width: 82px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 8px;
    left: 32px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v9_301 {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 46px;
    left: 47px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_302 {
    width: 262px;
    height: 22px;
    background: url("../images/v9_302.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 20px;
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 47px;
    overflow: hidden;
}
.v9_303 {
    width: 39px;
    color: rgba(59,59,59,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-weight: Light;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_304 {
    width: 83px;
    height: 22px;
    background: url("../images/v9_304.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 59px;
    overflow: hidden;
}
.v9_305 {
    width: 83px;
    color: rgba(59,59,59,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.name {
    color: #fff;
}
.v9_307 {
    width: 100px;
    color: rgba(59,59,59,1);
    position: absolute;
    top: 0px;
    left: 162px;
    font-family: Roboto;
    font-weight: Light;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_278 {
    width: 100%;
    height: 82px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 738px;
    left: 0px;
    overflow: hidden;
}
.v9_279 {
    width: 100%;
    height: 82px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_280 {
    width: 145px;
    height: 38px;
    background: url("../images/v9_280.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 1246px;
    overflow: hidden;
}
.v9_281 {
    width: 145px;
    height: 38px;
    background: rgba(2,155,110,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_282 {
    width: 65px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 8px;
    left: 40px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v9_283 {
    width: 145px;
    height: 38px;
    background: url("../images/v9_283.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 1091px;
    overflow: hidden;
}
.v9_284 {
    width: 145px;
    height: 38px;
    background: rgba(123,135,148,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_285 {
    width: 82px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 8px;
    left: 32px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v9_286 {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 46px;
    left: 47px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_287 {
    width: 262px;
    height: 22px;
    background: url("../images/v9_287.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 20px;
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 47px;
    overflow: hidden;
}
.v9_288 {
    width: 39px;
    color: rgba(59,59,59,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-weight: Light;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_289 {
    width: 83px;
    height: 22px;
    background: url("../images/v9_289.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 59px;
    overflow: hidden;
}
.v9_290 {
    width: 83px;
    color: rgba(59,59,59,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.name {
    color: #fff;
}
.v9_292 {
    width: 100px;
    color: rgba(59,59,59,1);
    position: absolute;
    top: 0px;
    left: 162px;
    font-family: Roboto;
    font-weight: Light;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_263 {
    width: 100%;
    height: 82px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 820px;
    left: 0px;
    overflow: hidden;
}
.v9_264 {
    width: 100%;
    height: 82px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_265 {
    width: 145px;
    height: 38px;
    background: url("../images/v9_265.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 1246px;
    overflow: hidden;
}
.v9_266 {
    width: 145px;
    height: 38px;
    background: rgba(2,155,110,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_267 {
    width: 65px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 8px;
    left: 40px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v9_268 {
    width: 145px;
    height: 38px;
    background: url("../images/v9_268.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 1091px;
    overflow: hidden;
}
.v9_269 {
    width: 145px;
    height: 38px;
    background: rgba(123,135,148,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v9_270 {
    width: 82px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 8px;
    left: 32px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v9_271 {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 46px;
    left: 47px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_272 {
    width: 262px;
    height: 22px;
    background: url("../images/v9_272.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 20px;
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 47px;
    overflow: hidden;
}
.v9_273 {
    width: 39px;
    color: rgba(59,59,59,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-weight: Light;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_274 {
    width: 83px;
    height: 22px;
    background: url("../images/v9_274.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 59px;
    overflow: hidden;
}
.v9_275 {
    width: 83px;
    color: rgba(59,59,59,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.name {
    color: #fff;
}
.v9_277 {
    width: 100px;
    color: rgba(59,59,59,1);
    position: absolute;
    top: 0px;
    left: 162px;
    font-family: Roboto;
    font-weight: Light;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v9_100 {
    width: 51px;
    height: 51px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 1184px;
    left: 695px;
    overflow: hidden;
}
.v9_101 {
    width: 13px;
    height: 4px;
    background: rgba(45,80,167,1);
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 0px;
}
.v9_102 {
    width: 13px;
    height: 4px;
    background: rgba(115,161,251,1);
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 37px;
}
.v9_103 {
    width: 11px;
    height: 11px;
    background: rgba(53,94,201,1);
    opacity: 1;
    position: absolute;
    top: 31px;
    left: 6px;
}
.v9_104 {
    width: 21px;
    height: 15px;
    background: url("../images/v9_104.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 23px;
    overflow: hidden;
}
.v9_105 {
    width: 4px;
    height: 9px;
    background: rgba(196,217,253,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
}
.v9_106 {
    width: 11px;
    height: 11px;
    background: rgba(196,217,253,1);
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 9px;
}
.v9_107 {
    width: 4px;
    height: 13px;
    background: rgba(61,109,235,1);
    opacity: 1;
    position: absolute;
    top: 35px;
    left: 23px;
}
.v9_108 {
    width: 11px;
    height: 11px;
    background: rgba(82,134,250,1);
    opacity: 1;
    position: absolute;
    top: 31px;
    left: 33px;
}
.v15_3160 {
    width: 38px;
    height: 38px;
    background: url("../images/v15_3160.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 16px;
    left: 1157px;
    overflow: hidden;
}
.v15_3161 {
    width: 38px;
    height: 38px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
}
.v15_3162 {
    width: 104px;
    height: 58px;
    background: url("../images/v15_3162.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 31px;
    overflow: hidden;
}
